@import "../../styles/variables.scss";

.playground-container {
  margin-top: 3em;
  display: grid;
  background-color: $playgroundColor;
  width: 80%;
  justify-self: center;
  justify-items: center;
  grid-row-gap: 5px;
}